
{{!-- Handlebars Template --}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\dvgan\Desktop\SENECA\SEM3\WEB322\web322-app\css\main.css" />
    <title>About</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
              </svg>
            </div>
          </div>
          <a class="btn btn-ghost text-xl">WEB322- Darshil Gandhi</a>
        </div>
        <div class="navbar-center">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/shop">Shop</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="C:\Users\dvgan\Desktop\SENECA\SEM3\WEB322\web322-app\views\about.html">About</a></li>
            <li><a href="/addItem">Add Item</a></li>
          </ul>
        </div>
      </div>

      <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="col-span-2 card bg-base-200 p-4 shadow-lg">
              <h2 class="text-2xl font-bold">About</h2>
              <p>
                I am currently studying web development with a focus on front-end technologies. I have a keen interest in creating user-friendly interfaces and learning more about responsive design. My goal is to build interactive applications that enhance user experience.
              </p>
          </div>
          <div class="card bg-base-200 p-4 shadow-lg">
              <h2 class="text-2xl font-bold">Coming Soon</h2>
              <p>
                Stay tuned for future updates! 
              </p>
          </div>
      </div>
  </div>
</body>
</html>
