<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href=""C:\Users\dvgan\Desktop\web322-app-master (1)\web322-app-master\css\main.css"">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
          <a class="btn btn-ghost text-xl">WEB322 - Darshil Gandhi</a>
        </div>
        <div class="navbar-center">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/items">Items</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/addPost">Add Item</a></li>
          </ul>
        </div>
    </div>

    <div class="container">
        {{{body}}}
    </div>
</body>
</html>